
*.pos_file
/outputs
run-log-simulator.bat
*.log
.gitignore
*.gz
*.meta
Chapter3/slack token.txt
Chapter3/fluentd-file-output.20200501_0.log.gz
Chapter4/slack token.txt
Chapter3.zip
Chapter3/basic-file.txt
Chapter5/annotated-file.txt
