
# Logging
handlers = java.util.logging.FileHandler, java.util.logging.ConsoleHandler
.level = ALL

# File Logging
#http://tutorials.jenkov.com/java-logging/handlers.html
java.util.logging.FileHandler.pattern = ./Chapter4/structured-rolling-log.%g.log
java.util.logging.FileHandler.limit=5000
java.util.logging.FileHandler.count=10
java.util.logging.FileHandler.formatter=java.util.logging.SimpleFormatter

#java.util.logging.SimpleFormatter.format=%1$tY-%1$tm-%1$td %1$tH:%1$tM:%1$tS %4$-6s %5$s%6$s%n
java.util.logging.SimpleFormatter.format=%1$tY-%1$tm-%1$td--%1$tH:%1$tM:%1$tS.%1$tN %4$-6s %2$s %5$s%6$s%n
# https://docs.oracle.com/javase/7/docs/api/java/util/logging/SimpleFormatter.html#formatting
java.util.logging.FileHandler.level = ALL

# Console Logging
java.util.logging.ConsoleHandler.level = ALL